# --- 1. REDIS DEPLOYMENT (The Database Backend) ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:alpine
        ports:
        - containerPort: 6379
---
# --- 2. REDIS SERVICE (The "Phone Number" for the DB) ---
apiVersion: v1
kind: Service
metadata:
  name: redis-db        # <--- CRITICAL: MUST BE "redis-db" TO MATCH APP.PY
spec:
  selector:
    app: redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
---
# --- 3. FLASK APP DEPLOYMENT (The Frontend) ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-container
        image: huz04/my-app:v3   # Ensure this matches your latest pushed image
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
---
# --- 4. FLASK APP SERVICE (The Entry Point) ---
apiVersion: v1
kind: Service
metadata:
  name: flask-service
spec:
  type: NodePort
  selector:
    app: flask-app
  ports:
    - port: 80
      targetPort: 5000
      nodePort: 30005     # <--- This is why we check port 30005